<html lang="en-US">

<head>
  <title>Vue3 CDN To Do List</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js"
    integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app" class="container">
    <h1 class="main">{{common.mainTitle}}</h1>
    <div class="input-group mb-2">
      <div class="input-group-prepend" style="margin-right: 5px;">
        <div v-if="isThereAnyUser()" style="background-color: white;">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-allow-clear="true">
            {{getSelectedUserName}}
            <span class="close bs-select-clear-selected"
              :class="{ 'deselectUser': user.selectedUserId && user.selectedUserId !== '' }"
              :title="user.deselectSelectedUserText" v-show="user.selectedUserId && user.selectedUserId !== ''"
              @click="onDeselectSelectedUser($event)">
              <span style="font-size: small;">X</span>
            </span>
          </button>
          <div class="dropdown-menu">
            <div v-for="subUser in user.userList">
              <button class="dropdown-item" @click="onClickUserListDropdown(subUser)">{{ subUser.userName }}</button>
            </div>
          </div>
        </div>
      </div>
      <input type="text" class="form-control" style="margin-right: 5px;" :placeholder="task.taskDescriptionPlaceHolder"
        @input="onChangeTaskEvent" v-bind:value="task.taskDescription">
      <button type="button" class="btn btn-primary" v-on:click="onAddTaskEvent">
        {{task.addTaskText}}
      </button>
    </div>
    <div style="display: flex; flex-direction: row; border: dashed 1px; margin-bottom: 15px;">
      <div class="listGreenBackground" style="display: flex; justify-content: center; width: 50%;">
        {{task.completedTaskCountText}} {{countCompletedTask}}
      </div>
      <div class="listRedBackground" style="display: flex; justify-content: center; width: 50%;">
        {{task.uncompletedTaskCountText}} {{countUncompletedTask}}
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center border-1 mb-2"
        :class="{ 'listRedBackground' : !taskElement.isDone, 'listGreenBackground' : taskElement.isDone }"
        v-for="(taskElement, index) in task.taskList">
        <div>
          <input class="form-check-input" type="checkbox" value="taskElement.isDone" v-bind:id="`checkbox-${index}`"
            v-on:change="onChangeTaskCompleteSituation(index, $event.target.checked)"></input>
          <label class="form-check-label ms-2" :class="{ 'doneTaskDecoration' : taskElement.isDone }">
            {{ user.userList.find(u => u.id === taskElement.userId).userName + ' / ' + taskElement.taskDescription }}
          </label>
        </div>
        <button type="button" class="btn btn-danger btn-sm" @click="onDeleteTaskEvent(index)">
          {{task.deleteTaskText}}
        </button>
      </li>
    </ul>
  </div>
  <script src="./app.js"></script>
</body>

</html>