
* {
    font-family: Arial, Geneva, Helvetica, sans-serif;
    font-size: 2pm;
}

.main {
    display: flex;
    justify-content: center;
}

.container {
    margin: 25px;
    width: 350px;
    min-height: 150px;
    height: auto;
    outline: dashed 1px black;
    background-color: #f0f8ff;
}

.doneTaskDecoration {
    text-decoration: line-through;
}

.listRedBackground {
    background-color: #ffe4c4 !important;
}

.listGreenBackground {
    background-color: #c7ffb6 !important;
}